	{% for page in site.pages %}
		{% if page.layout == 'section' %}
			<div class="section-content">
    				<h3>{{ page.title }}</h3>

					{{ page.content }}
	
			</div>
		{% endif %}

		{% if page.layout == 'break' %}

		<a name="{{ page.title }}"></a>
		
		<div class="section-container">
			<div class="section-break" style="background-color:#6ba1b9">
				<div class="section-break-icon">
					<i class="{{ page.bannerpath }}" style="font-size:300px;font-color:#000000"></i>
				</div>
				<div class="section-title" style="padding-top:8em"><h2>{{ page.title }}</h2></div>
			</div>

			<div class="section-break-content">
				<p>{{ page.content }}</p>
			</div>

		</div>
		{% endif %}

	{% endfor %}

