<head>
    <meta charset="utf-8">
    <meta name="description" content="Description of DeltaLumin's first year">
    <meta name="author" content="Delta Institute">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DeltaLumin, Year 1</title>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="style/normalize.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:900,300' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,800,300" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
    <link href="style/style.css" rel="stylesheet">
</head>