<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

<body>
	<header>
		<h1><a href="index.html" alt="home">DeltaLumin</a></h1>
            <a id="nav-toggle" class="hidden" href="#"><span></span></a>
            <nav class="primary-nav">
                <ul>
                    <li><a href="explore/index.html" alt="explore">Explore</a></li>
                    <li><a href="about/index.html">About</a></li>
                    <li><a href="giv-data/index.html">Data</a></li>
                    <li><a href="contact/index.html">Contact</a></li>
                </ul>
            </nav>
	</header>

	<!-- for sections in site.section, put 'em all here -->

	<footer></footer>
</body>
</html>