<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

<body>
	<!-- <header>
		<h1><a href="index.html" alt="home">DELTA<span>LUMIN</span></a></h1>
            <a id="nav-toggle" class="hidden" href="#"><span></span></a>
            <nav class="primary-nav clearfix">
                <ul>
                    <li><a href="explore/index.html" alt="explore">Explore</a></li>
                    <li><a href="about/index.html">About</a></li>
                    <li><a href="giv-data/index.html">Data</a></li>
                    <li><a href="contact/index.html">Contact</a></li>
                </ul>
            </nav>
	</header>
     -->
    <header>
            <!-- <h1><a href="index.html" alt="home">DELTA<span>LUMIN</span></a></h1> -->
                <a id="nav-toggle" class="hidden" href="#"><span></span></a>
                <nav class="primary-nav clearfix">
                    <a href="index.html" alt="explore" class="active">About</a>
                    <a href="#The%20DeltaLumin%20Approach">Approach</a>
                    <a href="#Finding%20Our%20Participants">Recruitment</a>
                    <a href="#Building%20the%20Prototype">Prototype</a>
                    <a href="#Implementing%20the%20Pilot">Pilot</a>
                    <a href="#Learning%20from%20our%20Participants">Learnings</a>
                    <a href="#Looking%20Forward">Future</a>
                    <a href="#Contact">Contact</a>
                </nav>
    </header>
    
    <div class="intro">
        <h1>DELTA<strong>LUMIN</strong> 1.0</h1>
    
        

    </div>

    <div class="section-content">
        <p>One of <a href="http://delta-institute.org">Delta Institute</a>’s strategic objectives is to “disrupt the energy status quo.” We work to meet this objective by helping buildings become more efficient, finding creative strategies to increase renewable energy generation, and, in this case, by working directly with energy users to find out how they interact with their electricity and what kinds of things motivate them to make changes in their homes.</p>

        <p>Delta has a history of working directly with homeowners on energy conservation. For years, we implemented a home weatherization program to help homeowners better understand where energy was escaping through the walls of their homes, then guided them toward smart home investments to address the problem. For DeltaLumin, we wanted to try something a bit different. Instead of designing a program, then heading out into the community to implement our idea, we decided to flip the script. We wanted to head out into the community first, allowing us to better understand the needs of the people we were serving. We wanted to ask questions, observe actions, and have lots of conversations before building anything out.</p>

        <p>As these ideas began to solidify, the Illinois Science & Energy Innovation Foundation (ISEIF) announced a round of funding that seemed to match our objectives. We knew we would need a partner to handle much of the design and research work (Delta is not a product development firm) and approach renowned design firm IDEO, who were excited to help us design some great product concepts. We also needed to expand our reach deep into what ISEIF considers “hard to reach” communities, including seniors and low-income individuals. To do so, we reached out to one of our long-time partners, Faith in Place, who would lead up community outreach and recruitment.</p>

        <div class="row">
            <div class="col-sm-3">
                <a href="http://delta-institute.org" target="_blank"><img src="img/Delta_Logo_color.png" class="img-responsive logo" alt="Delta logo"></a>
            </div>
            <div class="col-sm-3">
                <a href="http://ideo.com" target="_blank"><img src="img/IDEO_LOGO_2014_RGB_FINAL.png" class="img-responsive logo" alt="IDEO logo"></a>
            </div>
            <div class="col-sm-3">
                <a href="http://faithinplace.org" target="_blank"><img src="img/FIP_logo_color.png" class="img-responsive logo" alt="Faith in Place Logo"></a>
            </div>
            <div class="col-sm-3">
                <a href="http://iseif.org" target="_blank"><img src="img/ISEIF_logo_color.png" class="img-responsive logo" alt="ISEIF logo"></a>
            </div>
        </div>

        <br>

        <p>The rest of this site will walk through our process, findings, technical documentation, and next steps for DeltaLumin year 2. We hope that, by telling our story in the open, others can learn from our work and make an impact in their communities.</p>
    </div>


	<!-- for sections in site.section, put 'em all here -->
	{% include all-sections.html %}


	<footer>
    <p>Site designed and developed by Delta Institute, built with Jekyll, and hosted on GitHub Pages.</p>
    <p>Copyright &copy; 2015 Delta Institute. All rights reserved.</p>
    </footer>

    <script src="js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
</body>
</html>
