<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

<body>
	<header>
		<h1><a href="index.html" alt="home">DELTA<span>LUMIN</span></a></h1>
            <a id="nav-toggle" class="hidden" href="#"><span></span></a>
            <nav class="primary-nav clearfix">
                <ul>
                    <li><a href="explore/index.html" alt="explore">Explore</a></li>
                    <li><a href="about/index.html">About</a></li>
                    <li><a href="giv-data/index.html">Data</a></li>
                    <li><a href="contact/index.html">Contact</a></li>
                </ul>
            </nav>
	</header>

	<!-- for sections in site.section, put 'em all here -->
<!-- 	{% for page in site.pages %}
		{% if page.layout == 'section' %}
			<div class="section-container">
				<div class="section-banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url( {{ page.bannerpath }} );">
    				<h3 class="section-title">{{ page.title }}</h3>
    			</div>

				<div class="section-content">
					{{ page.content }}
				</div>
	
			</div>

		{% endif %}
	{% endfor %} -->

	{% for page in site.pages %}
  		{% include page.html item=page markdown=true %}
	{% endfor %}

	<footer></footer>
</body>
</html>